body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding: 10px;
}

div {
    margin-bottom: 15px;
}

li {
    margin-bottom: 10px;
}

.delete {
    background-color: #ff0000;
}